<div class="submissionStatusList">
    <div ngForm="editsubmissionStatus" #editsubmissionStatus="ngForm">
        <div class="configItem">
            <div class="editorHeader row" data-ng-click="toggleEditing(); $event.stopPropagation();">
                <span class="col-md-7">{{submissions_status.label | translate}}</span>
                <span class="col-md-5 clearfix">
                        <span class="float-right">
                          <button *ngIf="!first" class="btn btn-sm btn-primary" (click)="moveUp($event, index)" [ngbTooltip]="'Move up' | translate">
                            <i class="fa-solid fa-chevron-up"></i>
                          </button>
                          <button *ngIf="!last" class="btn btn-sm btn-primary" (click)="moveDown($event, index)" [ngbTooltip]="'Move down' | translate">
                            <i class="fa-solid fa-chevron-down"></i>
                          </button>
                          <button class="btn btn-sm btn-outline-secondary" *ngIf="isEditable(submissions_status) && !editing" (click)="toggleEditing(submissions_status); $event.stopPropagation();">
                            <span>{{'Edit'|translate}}</span>
                          </button>
                          <button class="btn btn-sm btn-primary" *ngIf="editing" [disabled]="editsubmissionStatus.invalid" (click)="save_submissions_status(submissions_status); toggleEditing(submissions_status);">
                            <span>{{'Save'|translate}}</span>
                          </button>
                          <button class="btn btn-sm btn-outline-secondary" *ngIf="editing" (click)="toggleEditing(submissions_status); $event.stopPropagation();">
                            <span>{{'Cancel'|translate}}</span>
                          </button>
                          <button class="btn btn-sm btn-danger" *ngIf="!isSystemDefined(submissions_status)" (click)="deleteSubmissionStatus(submissions_status); $event.stopPropagation();">
                            <span>{{'Delete'|translate}}</span>
                          </button>
                        </span>
                      </span>
            </div>
            <div *ngIf="editing">
                <hr />
                <div class="row">
                    <div class="col-md-6" *ngIf="!isSystemDefined(submissions_status)">
                        <div class="form-group">
                            <label>{{'Label'|translate}}</label>
                            <input name="name" class="form-control" [(ngModel)]="submissions_status.label" [disabled]="submissions_status.system_defined" type="text" required>
                            <div class="text-danger" *ngIf="editsubmissionStatus?.errors?.['required']">{{'This field is mandatory'|translate}}</div>
                        </div>
                    </div>
                    <div class="col-md-12"><src-substatuses [submissions_status]="submissions_status"></src-substatuses></div>
                </div>
            </div>
        </div>
    </div>
</div>
