# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.pybuild/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/backend/*
/client/app/assets/lib/*
/.pybuild
/client/build
/backend/workingdir
/libpeerconnection.log
testem.log
/typings
/client/build/js
# System files
.DS_Store
Thumbs.db
.eslintrc.json
.editorconfig
.github/FUNDING.yml
*.pid
backend/workingdir/globaleaks.pid
backend/workingdir/globaleaks.db
*.db
