backend/env
client/node_modules
client/.angular/cache
scripts/
dist/
client/build
.idea/*
client/app/lib
backend/workingdir
client/app/license.txt
client/app/viewer/pdf.min.js
client/app/viewer/pdf.worker.min.js
client/npm-shrinkwrap.json
client/tmp
client/app/assets/lib
client/coverage/*
client/cypress/downloads/*
client/cypress/screenshots/*
path.py
client/.nyc_output/out.json
