<label id="WhistleblowerLoginQuestion" class="text-normalized" data-translate>Have you already filed a report?</label><br>
<label id="WhistleblowerLoginQuestion" class="text-normalized" data-translate>Enter your receipt.</label>
<br><br><form id="WhistleblowerLoginForm" autocomplete="off" novalidate>
  <div class="form-group d-block mx-auto">
    <div class="input-group">
      <input id="receipt-input" class="form-control form-control-big" type="text" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19" receiptvalidator>
    </div>
  </div>

  <br><button id="ReceiptButton"
              class="btn btn-primary col-12 btn btn-outline-light btn-custom btn-hover"
              type="submit">
  <span data-translate>Log in</span>
</button>
</form>
<br>
