<fieldset id="SubmissionStepReceiver" class="receiverCards" *ngIf="submission.optional_receivers">
    <legend class="title">{{'Select the recipients of your report'|translate}}</legend>
    <div *ngIf="submission.context.maximum_selectable_receivers !== 0 && !submission.context.select_all_receivers" id="MaxSelectableReceiverBox">
        <div><span>{{'Recipients selected:'|translate}}</span> {{submission.countSelectedReceivers()}}/{{submission.context.maximum_selectable_receivers}}</div>
        <div class="text-danger" *ngIf="submission.countSelectedReceivers() === submission.context.maximum_selectable_receivers">{{'You have reached the maximum number of selectable recipients.'|translate}}</div>
    </div>
    <div id="ReceiverSelectionBox" class="row">
        <div *ngFor="let receiver of submission.receivers | filter : 'forcefully_selected' : false | orderBy:receiversOrderPredicate; let index = index" id="receiver-{{index}}" [ngClass]="utilsService.getCardSize(submission.receivers.length)" (click)="switchSelection.emit(receiver)">
            <src-receiver-card [submission]="submission" [receiver]="receiver"></src-receiver-card>
        </div>
    </div>
</fieldset>
<div *ngIf="submission.mandatory_receivers">
    <div class="title">{{'The following recipients will receive your report and could not be deselected:'|translate}}</div>
    <div id="ReceiverSelectionBox" class="row">
        <div *ngFor="let receiver of submission.receivers | filter : 'forcefully_selected' : true | orderBy:receiversOrderPredicate; let index = index" id="receiver-{{index}}" [ngClass]="utilsService.getCardSize(submission.receivers.length)" (click)="switchSelection.emit(receiver)">
            <src-receiver-card [submission]="submission" [receiver]="receiver"></src-receiver-card>
        </div>
    </div>
</div>