<div class="row">
    <div class="col-md-12">
        <div>
            <span class="badge badge-primary">1</span>
            <span data-translate>Install an authenticator app on your phone</span>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div>
            <div>
                <span class="badge badge-primary">2</span>
                <span data-translate>Scan the QR code with the app</span>
            </div>
            <br />
            <div class="text-center">

                <qrcode data-toggle="tooltip" title="{{'Copy to clipboard' | scopedTranslate}}" (click)="utils.copyToClipboard(twofactorauthData.totp.secret);" [qrdata]="twofactorauthData.totp.qrcode_string" [width]="350" [errorCorrectionLevel]="'Q'"  [colorDark]="'#1d1f2a'" [colorLight]="'#fff'"></qrcode>

                <form id="OTPSecretForm" [formGroup]="OTPSecretForm" class="form-inline">
                    <div class="form-group d-block mx-auto">
                        <div class="input-group">
                            <input [ngModelOptions]="{standalone: true}"  [ngClass]="{'is-invalid': OTPSecretForm.invalid}" class="form-control" name="secret" (ngModelChange)="onSecretKeyChanged()"  [(ngModel)]="twofactorauthData.totp.secret" [disabled]="!twofactorauthData.totp.edit" type="text" [minlength]="32" [maxLength]="32" maxlength="32" size="32" required />
                            <span  *ngIf="twofactorauthData.totp.edit" class="input-group-append" (click)="OTPSecretForm.valid && (twofactorauthData.totp.edit=!twofactorauthData.totp.edit)" data-toggle="tooltip" title="{{'Save' | scopedTranslate}}"><button class="btn btn-secondary" [disabled]="OTPSecretForm.invalid"><i class="fa-solid fa-save"></i></button></span>
                            <span  *ngIf="!twofactorauthData.totp.edit" class="input-group-append" (click)="twofactorauthData.totp.edit=!twofactorauthData.totp.edit" data-toggle="tooltip" title="{{'Edit' | scopedTranslate}}"><button class="btn btn-secondary" [disabled]="twofactorauthData.totp.secret.length !== 32"><i class="fa-solid fa-edit"></i></button></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="form-group">
            <div>
                <span class="badge badge-primary">3</span>
                <span data-translate>Enter the two factor authentication code</span>
            </div>
            <input class="form-control" [(ngModel)]="twofactorauthData.totp.token" type="text" size="6" maxlength="6" />
        </div>
    </div>
</div>
