<ng-container [ngSwitch]="appDataService.page">
    <div *ngSwitchCase="'blank'" appFade>
    </div>
    <div *ngSwitchCase="'tippage'">
        <src-tippage appFade></src-tippage>
    </div>
    <div *ngSwitchCase="'submissionpage'">
        <src-submission appFade></src-submission>
    </div>
    <div *ngSwitchCase="'receiptpage'">
        <src-receipt-whistleblower appFade></src-receipt-whistleblower>
    </div>
    <div *ngSwitchDefault>
        <src-homepage appFade></src-homepage>
    </div>
</ng-container>