<ng-container [ngSwitch]="appDataService.page">
    <div *ngSwitchCase="'blank'" class="reveal">
    </div>
    <div *ngSwitchCase="'tippage'">
        <src-tippage class="reveal"></src-tippage>
    </div>
    <div *ngSwitchCase="'submissionpage'">
        <src-submission class="reveal"></src-submission>
    </div>
    <div *ngSwitchCase="'receiptpage'">
        <src-receipt-whistleblower class="reveal"></src-receipt-whistleblower>
    </div>
    <div *ngSwitchDefault>
        <src-homepage class="reveal"></src-homepage>
    </div>
</ng-container>