<div id="TipCommunicationMessages" class="card card-default">
	<div class="card-header d-flex justify-content-between"
		(click)="toggleColapse();utilsService.stopPropagation($event)">
		<span>{{'Messages'|translate}}</span>
		<span class="">
			<i *ngIf="!collapsed" class="fa-solid fa-chevron-up" data-toggle="tooltip"
				title="{{'Collapse' | translate}}"></i>
			<i *ngIf="collapsed" class="fa-solid fa-chevron-down" data-toggle="tooltip"
				title="{{'Expand' | translate}}"></i>
		</span>
	</div>
	<div class="card-body" *ngIf="!collapsed">
		<div *ngIf="tipService.tip.status !== 'closed' && tipService.tip.context.enable_messages && (authenticationService.session.role !== 'whistleblower' || tipService.tip.enable_two_way_messages)"
			class="row">
			<div class="col-md-12 clearfix">
				<div class="form-inline">
					<span *ngIf="authenticationService.session.role === 'whistleblower'">
						<span><span>{{'Recipient'|translate}}</span>:<span></span></span>
						<ng-select id="message-recipient-selector" class="mb-3" [clearable]="false"
							[(ngModel)]="tipService.tip.msg_receiver_selected">
							<ng-option *ngFor="let item of tipService.tip.msg_receivers_selector"
								[value]="item.key | orderBy:['value', false]">{{item.value}}</ng-option>
						</ng-select>
					</span>
				</div>
				<textarea id="TipCommunicationMessagesInput" [(ngModel)]="newMessageContent" maxlength="4096"
					class="form-control" autocomplete="off" dynamic-textarea></textarea>
				<span class="float-right">{{newMessageContent.length ? newMessageContent.length : '0'}}/4096</span>
			</div>
			<div class="col-md-12 clearfix">

				<button id="message-action-send" class="btn btn-primary" (click)="newMessage()"
					[disabled]="!newMessageContent || (authenticationService.session.role === 'whistleblower' && !tipService.tip.msg_receiver_selected)">
					<i class="fa-solid fa-comment"></i>
					<span>&nbsp;{{'Send'|translate}}</span>
				</button>
				<div *ngif="authenticationService.session.role === 'receiver' && !tipService.tip.context.enable_two_way_messages"
					class="form-group">
					<label>
						<!--                        <input [(ngModel)]="tipService.tip.enable_two_way_messages" data-ng-change="tip.operation('set', {'key': 'enable_two_way_messages', 'value': tip.enable_two_way_messages})" type="checkbox" />-->
						<span>{{'Allow the whistleblower to send messages'|translate}}</span>
					</label>
				</div>
			</div>
		</div>

		<div *ngIf="tipService.tip.messages.length">
			<div
				*ngFor="let message of ((tipService.tip.messages | orderBy:'creation_date': true) | slice: (currentMessagesPage-1) * itemsPerPage : (currentMessagesPage-1) * itemsPerPage + itemsPerPage); let index = index">
				<src-tip-message [tipService]="tipService" [index]="index" [message]="message"></src-tip-message>
			</div>
		</div>

		<div class="mt-2 text-center" *ngIf="tipService.tip.messages.length > itemsPerPage">
			<ngb-pagination class="pagination-sm" [collectionSize]="tipService.tip.messages.length"
				[(page)]="currentMessagesPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [ellipses]="true"
				[boundaryLinks]="true">
				<ng-template ngbPaginationPrevious>
					< {{'Previous' | translate}}</ng-template>
						<ng-template ngbPaginationNext>{{'Next' | translate}} ></ng-template>
						<ng-template ngbPaginationFirst>
							<< {{'First' | translate}}</ng-template>
								<ng-template ngbPaginationLast>{{'Last' | translate}} >></ng-template>
			</ngb-pagination>
		</div>
	</div>
</div>