<div id="UserWarnings">
    <div class="alert alert-secondary" *ngIf="authentication.session.role === 'admin' && node.dataModel.update_available">
      <i class="fa-solid fa-exclamation-circle"></i>
      <span>{{'An update is available:' | translate}}</span> 
      <span><a href="https://github.com/globaleaks/GlobaLeaks/blob/main/CHANGELOG" rel="noreferrer" target="_blank">
        {{node.dataModel.latest_version}}
         (<span>{{'Changelog' | translate}}</span>)</a></span>
    </div>
    <div class="alert alert-secondary" *ngIf="preferece.dataModel.encryption && !preferece.dataModel.clicked_recovery_key">
      <i class="fa-solid fa-exclamation-circle"></i>
      <span data-translate>
        {{'We recommend that you access the “Preferences” section in order to retrieve your “Account Recovery Key” and store it safely. This key will be necessary to recover your access to the platform and to your data in case you forget your password.' | translate}}
      </span>
    </div>

    <!-- TO DO LATER -->
    <!-- <div class="alert alert-secondary" *ngIf="authentication.session.role === 'admin' && node.dataModel.encryption && !all_recipients_enabled">
      <i class="fa-solid fa-exclamation-circle"></i>
      <span>
      {{"One or more recipients have not performed the first login yet. This means they won't be receiving reports." | translate}}  
      </span>
    </div> -->
  </div>
  