$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?082c523992cceef8ed922522b39fa287") format("truetype"),
url("./flaticon.woff?082c523992cceef8ed922522b39fa287") format("woff"),
url("./flaticon.woff2?082c523992cceef8ed922522b39fa287") format("woff2"),
url("./flaticon.eot?082c523992cceef8ed922522b39fa287#iefix") format("embedded-opentype"),
url("./flaticon.svg?082c523992cceef8ed922522b39fa287#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "attach-paperclip-symbol": "\f101",
    "export": "\f102",
    "download": "\f103",
    "square": "\f104",
    "star": "\f105",
    "eye": "\f106",
    "check-mark": "\f107",
    "message": "\f108",
    "comment": "\f109",
    "check": "\f10a",
    "back": "\f10b",
    "bell": "\f10c",
    "printer": "\f10d",
    "settings": "\f10e",
    "group": "\f10f",
    "questionnaire": "\f110",
    "report": "\f111",
    "notification": "\f112",
    "case-study": "\f113",
    "channels": "\f114",
    "alert": "\f115",
    "padlock": "\f116",
    "user": "\f117",
    "telephone": "\f118",
    "message-1": "\f119",
);

.flaticon-attach-paperclip-symbol:before {
    content: map-get($flaticon-map, "attach-paperclip-symbol");
}
.flaticon-export:before {
    content: map-get($flaticon-map, "export");
}
.flaticon-download:before {
    content: map-get($flaticon-map, "download");
}
.flaticon-square:before {
    content: map-get($flaticon-map, "square");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-eye:before {
    content: map-get($flaticon-map, "eye");
}
.flaticon-check-mark:before {
    content: map-get($flaticon-map, "check-mark");
}
.flaticon-message:before {
    content: map-get($flaticon-map, "message");
}
.flaticon-comment:before {
    content: map-get($flaticon-map, "comment");
}
.flaticon-check:before {
    content: map-get($flaticon-map, "check");
}
.flaticon-back:before {
    content: map-get($flaticon-map, "back");
}
.flaticon-bell:before {
    content: map-get($flaticon-map, "bell");
}
.flaticon-printer:before {
    content: map-get($flaticon-map, "printer");
}
.flaticon-settings:before {
    content: map-get($flaticon-map, "settings");
}
.flaticon-group:before {
    content: map-get($flaticon-map, "group");
}
.flaticon-questionnaire:before {
    content: map-get($flaticon-map, "questionnaire");
}
.flaticon-report:before {
    content: map-get($flaticon-map, "report");
}
.flaticon-notification:before {
    content: map-get($flaticon-map, "notification");
}
.flaticon-case-study:before {
    content: map-get($flaticon-map, "case-study");
}
.flaticon-channels:before {
    content: map-get($flaticon-map, "channels");
}
.flaticon-alert:before {
    content: map-get($flaticon-map, "alert");
}
.flaticon-padlock:before {
    content: map-get($flaticon-map, "padlock");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-telephone:before {
    content: map-get($flaticon-map, "telephone");
}
.flaticon-message-1:before {
    content: map-get($flaticon-map, "message-1");
}
