<div class="container" id="browser-not-supported" *ngIf="!appDataService.started || appDataService.showLoadingPanel">
    <h1>Error!</h1><br /><br />
    <div>
      You are running an unsupported and potentially vulnerable browser.<br /><br />
      In order to use GlobaLeaks you are strongly advised to download and install the Tor Browser.<br />
      The Tor Browser includes various privacy and security enhancements not present in other browsers.<br /><br />
      <a href="https://www.torproject.org/download/" rel="noreferrer" target="_blank" class="text-center">[ Download the
        Tor Browser ]</a><br /><br />
      This is the list of the other supported browsers:<br />
      <ul>
        <li>Mozilla Firefox &gt;= 38</li>
        <li>Google Chrome &gt;= 45</li>
        <li>Brave &gt;= 1.20.110</li>
        <li>Edge (any)</li>
        <li>Internet Explorer 11</li>
        <li>Safari: &gt;= 8</li>
        <li>iOS &gt;= 9</li>
        <li>Android &gt;= 4.4</li>
      </ul>
    </div>
  </div>


  <div id="page-overlay" *ngIf="appDataService.showLoadingPanel">
    <div id="loader"></div>
  </div>

  <div [dir]="translate.currentLang === 'ar' ? 'rtl' : 'ltr'" *ngIf="appDataService.started">

    <div *ngIf="!appDataService.public.node.root_tenant && appDataService.public.node.mode === 'demo'">
      <src-demo></src-demo>
    </div>
    <div *ngIf="utilsService.isWhistleblowerPage() && !appDataService.public.node.disable_privacy_badge">
      <src-privacybadge></src-privacybadge>
    </div>

    <views-header></views-header>
    <messageconsole id="MessagesConsoleBox"></messageconsole>

    <div id="PageContent">
      <div id="ContentBox">
        <div class="row">
          <nav *ngIf="appConfig.sidebar && showSidebar" id="Sidebar" class="col-md-2 flex-column">
            <src-receipt-sidebar *ngIf="appConfig.sidebar=='recipient-sidebar'"></src-receipt-sidebar>
            <src-custodian-sidebar *ngIf="appConfig.sidebar=='custodian-sidebar'"></src-custodian-sidebar>
            <src-admin-sidebar *ngIf="appConfig.sidebar=='admin-sidebar'"></src-admin-sidebar>
          </nav>
          <main id="Content" [ngClass]="{'col-lg-10 col-md-8 col-sm-12': appConfig.sidebar && showSidebar , 'col-md-12': !appConfig.sidebar}">

          <router-outlet></router-outlet>
        </main>
        </div>
      </div>
    </div>
  </div>
  <app-footer class="footer mt-auto "></app-footer>
