<div *ngFor="let row of rows;let fieldRow = index" class="row" >
    <div *ngFor="let field of row | orderBy:'x' let fieldCol = index"  [ngClass]="fieldUtilitiesService.getClass(field, row.length)">
        <div *ngIf="field.enabled">
            <src-form-field-inputs [displayErrors]="displayErrors" [index]="index"  [submission]="submission" [answers]="answers" [stepId]="stepId" [fieldCol]="fieldCol" [fieldRow]="fieldRow" [field]="field"></src-form-field-inputs>
        </div>
    </div>
</div>
