<!doctype html>
<html data-ng-app="GL" data-ng-csp data-ng-strict-di data-ng-keydown="keypress($event)" lang="en">

  <head>
    <meta charset="utf-8" />
    <title>GlobaLeaks</title>
    <meta name="description" content="Secure whistleblowing platform based on GlobaLeaks free and open-source software.">
    <meta name="viewport" content="width=device-width, user-scalable=yes" />

    <style>
      .ng-cloak, #browser-not-supported { display:none }
    </style>

    
  </head>

  <body class="container-fluid d-flex flex-column" data-ng-class="{{Utils.getCSSFlags()}}" data-flow-prevent-drop>

    <span data-ng-if="Utils.isUpdatedUIPage()">
      <a class="skip-link d-none data-ng-cloak" href="#ContentBox"></a>

      <div id="page-overlay" class="ng-cloak" data-ng-hide="!showLoadingPanel">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      </div>

      <div id="PageContent" class="ng-cloak" data-ng-if="started" data-ng-cloak>
        <div data-ng-if="!public.node.root_tenant && public.node.mode === 'demo'" data-ng-include="'views/partials/demo.html'"></div>
        <div data-ng-if="Utils.isWhistleblowerPage() && !public.node.disable_privacy_badge" data-ng-include="'views/partials/privacybadge.html'"></div>
        <div id="messages-console-box" data-ng-include="'views/partials/messageconsole.html'"></div>
            <nav data-ng-if="sidebar" id="Sidebar" class="col-md-2 flex-column" data-ng-include="sidebar"></nav>
            <main id="Content" data-ng-class="{'col-md-10': sidebar, 'col-md-12': !sidebar}" data-ng-view=""></main>
      </div>
      <footer data-ng-include="'views/partials/footer.html'" ></footer>

      <div id="BrowserNotSupported">
        <h1>Error!</h1><br /><br />
        <div>
          You are running an unsupported and potentially vulnerable browser.<br /><br />
          In order to use GlobaLeaks you are strongly advised to download and install the <a href="https://www.torproject.org/download/" rel="noreferrer" target="_blank">Tor Browser</a> that includes various privacy and security enhancements not present in other browsers.<br /><br />
          This is the list of the other supported browsers:<br />
          <ul>
            <li>Mozilla Firefox &gt;= 38</li>
            <li>Google Chrome &gt;= 45</li>
            <li>Brave &gt;= 1.20.110</li>
            <li>Edge (any)</li>
            <li>Safari: &gt;= 8</li>
            <li>iOS &gt;= 9</li>
            <li>Android &gt;= 4.4</li>
          </ul>
        </div>
      </div>
    </span>
    <span data-ng-if="!Utils.isUpdatedUIPage()">
    <a class="skip-link d-none ng-cloak" href="#ContentBox"></a>

    <div id="page-overlay" class="ng-cloak" data-ng-hide="!showLoadingPanel">
      <div id="loader"></div>
    </div>

    <div id="PageContent" class="ng-cloak" data-ng-if="started" data-ng-cloak>
      <div data-ng-if="!public.node.root_tenant && public.node.mode === 'demo'" data-ng-include="'views/partials/demo.html'"></div>
      <div data-ng-if="Utils.isWhistleblowerPage() && !public.node.disable_privacy_badge" data-ng-include="'views/partials/privacybadge.html'"></div>
      <div data-ng-include="'views/partials/header.html'"></div>
      <div id="messages-console-box" data-ng-include="'views/partials/messageconsole.html'"></div>
      <div id="content-box">
        <div class="row">
          <nav data-ng-if="sidebar" id="Sidebar" class="col-md-2 flex-column" data-ng-include="sidebar"></nav>
          <main data-ng-class="{'col-md-10': sidebar, 'col-md-12': !sidebar}" data-ng-view=""></main>
        </div>
      </div>
    </div>

    <footer id="footer-box" class="ng-cloak" data-ng-if="started" data-ng-include="'views/partials/footer.html'" data-ng-cloak></footer>

    <div id="BrowserNotSupported">
      <h1>Error!</h1><br /><br />
      <div>
        You are running an unsupported and potentially vulnerable browser.<br /><br />
        In order to use GlobaLeaks you are strongly advised to download and install the Tor Browser.<br/>
        The Tor Browser includes various privacy and security enhancements not present in other browsers.<br /><br />
        <a href="https://www.torproject.org/download/" rel="noreferrer" target="_blank" class="text-center">[ Download the Tor Browser ]</a><br /><br />
        This is the list of the other supported browsers:<br />
        <ul>
          <li>Mozilla Firefox &gt;= 38</li>
          <li>Google Chrome &gt;= 45</li>
          <li>Brave &gt;= 1.20.110</li>
          <li>Edge (any)</li>
          <li>Internet Explorer 11</li>
          <li>Safari: &gt;= 8</li>
          <li>iOS &gt;= 9</li>
          <li>Android &gt;= 4.4</li>
        </ul>
      </div>
    </div>
  </span>

    <script>
  var elem;

  var isBrowserCompatible = function() {
    var crawlers = [
      "Googlebot",
      "Bingbot",
      "Slurp",
      "DuckDuckBot",
      "Baiduspider",
      "YandexBot",
      "Sogou",
      "Exabot",
      "ia_archiver"
    ];

    for (var i=0; i < crawlers.length; crawlers++) {
      if (navigator.userAgent.indexOf(crawlers[i]) !== -1) {
        return true;
      }
    }

    if (typeof window === "undefined") {
      return false;
    }

    if (window.isSecureContext && !window.crypto && !window.crypto.subtle) {
      return false;
    }

    if (!(window.File && window.FileList && window.FileReader)) {
      return false;
    }

    if (typeof Blob === "undefined" ||
        (!Blob.prototype.slice && !Blob.prototype.webkitSlice && !!Blob.prototype.mozSlice)) {
      return false;
    }

    return true;
  };

  if (!isBrowserCompatible()) {
    document.getElementById("browser-not-supported").style.display = "block";
  } else {
    elem = document.createElement("link");
    elem.setAttribute("rel", "stylesheet");
    elem.setAttribute("type", "text/css");
    elem.setAttribute("href", "css/styles.min.css");
    document.getElementsByTagName("head")[0].appendChild(elem);

    elem = document.createElement("script");
    elem.setAttribute("type", "text/javascript");
    elem.setAttribute("src", "js/scripts.min.js");
    document.getElementsByTagName("body")[0].appendChild(elem);
  }
</script>


    <noscript>
      <h1>Error! :(</h1>
      <br />
      <div>
        Your browser is not running JavaScript that is required to use this site.<br /><br />
        It is a common belief that JavaScript and security don't work well together and for this reason we advise to use the <a href="https://www.torproject.org/" rel="noreferrer" target="_blank">Tor Browser</a>, a browser designed for security and privacy.
      </div>
    </noscript>
  </body>
</html>
