<div id="PageOverlay" *ngIf="!appConfig.appStarted && !appConfig.showLoadingPanel">
  <div id="Loader"></div>
</div>

<div id="PageContent" *ngIf="appConfig.appStarted">

  <!-- <div data-ng-if="!public.node.root_tenant && public.node.mode === 'demo'" data-ng-include="'views/partials/demo.html'"></div>
    <div data-ng-if="Utils.isWhistleblowerPage() && !public.node.disable_privacy_badge" data-ng-include="'views/partials/privacybadge.html'"></div> -->

  <views-header></views-header>
  <!--<div id="MessagesConsoleBox" data-ng-include="'views/partials/messageconsole.html'"></div>-->
  <div id="ContentBox">
    <div class="row">
      <!--<nav ng-if="appConfig.sidebar" id="Sidebar" class="col-md-2 flex-column" data-ng-include="appConfig.sidebar"></nav>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-footer class="footer mt-auto"></app-footer>