/* global section start*/
a {
    text-decoration: none;
}
body {
    overflow-x: hidden;
}

.btn-primary{
     background: #4080bf;
}

.card-header{
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
    background: #4080bf;
    color: white;
}

.dashboard-height {
    min-height: 30vh;
    margin-top: 5vh;
}

.card{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.18) 0 2px 4px;
    border: 1px solid #f0f0f0;
}

.submit{
    text-align: center;
    background-color: #0283af !important;
    border-color: #0283af !important;
}

.form-user{
    padding: 8%;
}

.error-margin{
    margin-top: -10px;
}

/* header section start */
#header-box {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

/* footer section start */
.footer{
    margin-top: 20vh !important;
}

.footer-main{
    border-top: 10px solid #06b0eb;
    background: #152F4F;
    text-align: left;
    color:white;

    .links{
        ul {list-style-type: none;}
        li a{
            color: white;
            transition: color .2s;
            &:hover{
                text-decoration:none;
                color:#4180CB;
            }
        }
    }
    .about-company{
        i{font-size: 25px;}
        a{
            color:white;
            transition: color .2s;
            &:hover{color:#4180CB}
        }
    }
    .location{
        i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}

.img-fluid{
    max-width: 3%;
}

.img-fluid-logo{
    max-width: 15%;
    min-width: 150px;
}

.url-weight {
    font-weight: 200 !important;
}

.footer{
    margin-top: 0 !important;
}
#PageContent{
    min-height: 78vh !important;
}

.input-group-text {
    background: #06b0eb;
    color: white;
    border: 1px solid #06b0eb;
}

/* desktop resolution section start */
@media (min-width: 768px) {
    .form-user {
        padding: 0;
        width: 500px;
    }
}
