<!--<label id="WhistleblowerLoginQuestion" class="text-normalized">{{'Have you already filed a report?'|translate}}</label><br>-->
<!--<label id="WhistleblowerLoginQuestion" class="text-normalized">{{'Enter your receipt.'|translate}}</label>-->
<!--<br><br><form id="WhistleblowerLoginForm" autocomplete="off" novalidate>-->
<!--  <div class="form-group d-block mx-auto">-->
<!--    <div class="input-group">-->
<!--      <input id="receipt-input" class="form-control form-control-big" type="text" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19" [(ngModel)]="formatted_receipt" name="receipt-input">-->
<!--    </div>-->
<!--  </div>-->

<!--  <br><button id="ReceiptButton"-->
<!--              (click)="authentication.login(0, 'whistleblower', formatted_receipt)" class="btn btn-primary col-12 btn btn-outline-light btn-custom btn-hover"-->
<!--              [disabled]="formatted_receipt.length !== 19 || authentication.loginInProgress" type="submit">-->
<!--  <span>{{'Log in'|translate}}</span>-->
<!--</button>-->
<!--</form>-->
<!--<br>-->
<!--<div class="alert alert-danger text-danger-custom col-12" *ngIf="appDataService.errorCodes.code == 9">{{'The receipt is either invalid or the report has expired.'|translate}}</div>-->
