<!-- <form #WhistleblowerLoginForm="ngForm" autocomplete="off" novalidate> -->
<form id="WhistleblowerLoginForm" autocomplete="off" novalidate>
	<div>
		<label id="WhistleblowerLoginQuestion" for="receipt-input">
			{{'Have you already filed a report? Enter your receipt.'|translate}}
		</label>
	</div>
	<div class="d-flex justify-content-center">
		<div class="form-group" dir="auto">
			<div class="input-group">
				<input [autocomplete]="'off'" #receiptinput="ngModel" [(ngModel)]="formatted_receipt" id="receipt-input" class="form-control"
					type="text" autocomplete="receipt" name="receipt" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19" customReceiptValidator>

				<button
					[disabled]="formatted_receipt.length < 16 || authenticationService.loginInProgress || !receiptinput.errors?.['receiptvalidator']"
					(click)="authenticationService.login(0, 'whistleblower', formatted_receipt)" id="ReceiptButton"
					class="btn btn-primary" type="submit">
					<span>
						{{'Log in'|translate}}
					</span>
				</button>
			</div>
		</div>
	</div>
</form>
<div *ngIf="appDataService.errorCodes.code == 9" class="LoginErrorBoxHomepage text-danger">
	{{'The receipt is either invalid or the report has expired.'|translate}}
</div>