<div id="SubmissionErrors" class="alert alert-secondary mb-2" role="alert">
  @if (!hasPreviousStep) {
    <div>
      @if (!areReceiverSelected) {
        <div>
          <p>{{'You must select at least one recipient.'|translate}}</p>
        </div>
      }
    </div>
  }
  @if (!hasNextStep) {
    <div>
      @if (utilsService.isUploading(uploads)) {
        <div>
          <span>{{'Waiting for the file(s) to finish uploading.'|translate}}</span>
          <i class="fa-solid fa-sync gly-spin"></i>
        </div>
      }
      @if (show_steps_navigation_interface && !singleStepForm && (!areReceiverSelected || submissionForm.invalid)) {
        <div>
          <p>{{'The following steps have errors:'|translate}}</p>
          <ul>
            @if (!areReceiverSelected) {
              <li (click)="goToStep.emit(-1)">{{'Recipient selection'|translate}}</li>
            }
          </ul>
          @if (submissionForm.invalid) {
            <ul>
              @for (step of context.questionnaire.steps | orderBy:'order'; track step; let index = $index) {
                <span>
                  @if (displayStepErrors(index)) {
                    <li class="err-link" (click)="goToStep.emit(index)">{{step.label}}</li>
                  }
                </span>
              }
            </ul>
          }
        </div>
      }
    </div>
  }
  <src-step-error [field_id_map]="field_id_map" [stepForms]=stepForms [submission]="submission" (goToStep)="goToStep.emit()" [stepForm]="stepForm" [navigation]="navigation" [displayStepErrors]="displayStepErrors"></src-step-error>
</div>