<div id="TipPageWBFileUpload" class="card card-default">
    <div class="card-header clearfix" (click)="collapsed = !collapsed; utilsService.stopPropagation($event);">
        <span>{{'Files attached by recipients' | translate}}</span>
        <span class="float-right">
      <i *ngIf="!collapsed" class="fa-solid fa-chevron-up" data-toggle="tooltip" [title]="'Collapse' | translate"></i>
      <i *ngIf="collapsed" class="fa-solid fa-chevron-down" data-toggle="tooltip" [title]="'Expand' | translate"></i>
    </span>
    </div>
    <div class="card-body" *ngIf="!collapsed">
        <div *ngFor="let wbfile of tip.wbfiles | orderBy: 'creation_date' as index">
            <div id="wbfile-{{index}}" data-wbfile data-ctx="'rtip'">
                <src-wbfiles [ctx]="'rtip'" [receivers_by_id]="''" [wbfile]="wbfile"></src-wbfiles>
            </div>
        </div>

        <div *ngIf="tip.status !== 'closed'">
            <div>{{'Upload a file:' | translate}}</div>
            <div class="form">
                <div class="input-group">
                    <span class="input-group-prepend"><span class="input-group-text" data-translate>Description</span></span>
                        <input type="text" class="form-control" [(ngModel)]="file_upload_description" />
                        <span class="input-group-append" [ngClass]="{'disabled': !file_upload_description}">

                        <ng-container #flowAdvanced="flow" [flowConfig]="{target: 'api/rtips/' + tip.id + '/wbfile', speedSmoothingFactor:0.01, singleFile:true, query: { description: file_upload_description, fileSizeLimit: appDataService.public.node.maximum_filesize*1024*1024 }, allowDuplicateUploads:false, testChunks:false, permanentErrors : [ 500, 501 ], headers : {'X-Session':authenticationService.session.id}}"></ng-container>
                        <input #uploader [attr.id]="fileinput" id="customFile-{{fileinput}}" type="file" flowButton [flow]="flowAdvanced.flowJs" [style.display]="'none'" class="custom-file-input inputelem" (change)="onFileSelected(uploader.files)" />
                        <label [attr.for]="fileinput" class="btn btn-primary">
                            <i class="fa-solid fa-upload "></i>
                            <span>{{'Upload'|translate}}</span>
                        </label>
                  </span>
                </div>
                <div errors-upload></div>
            </div>
        </div>
    </div>
</div>
