<header id="HeaderBox">
  <div class="row">
    <div id="HeaderBox1" class="col-auto mr-auto">
      <div id="LogoBox" data-ng-click="setHomepage()">
        <img class="img-fluid'" alt="project logo" src="data/logo.png" />
      </div>
      <div id="TitleBox"><h1><span id="ProjectTitle" data-ng-click="setHomepage()">{{appConfig.public_node.node.name}}</span><span class="TitleSeparator"> - </span><span id="PageTitle">{{appConfig.public_node.node.name}}</span></h1></div>
    </div>
    <div id="HeaderBox2" class="col-auto">
      <!--<views-user id="UserBox"></views-user>-->
    </div>
  </div>
</header>
